In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/movie-rating-dataset/rating.csv
/kaggle/input/movie-rating-dataset/movie.csv

In [2]:
movies = pd.read_csv("/kaggle/input/movie-rating-dataset/movie.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings = pd.read_csv("/kaggle/input/movie-rating-dataset/rating.csv")
ratings.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [4]:
df = ratings.merge(movies, how = "left",on = "movieId")
df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,2,3.5,2005-04-02 23:53:47,Jumanji (1995),Adventure|Children|Fantasy
1,1,29,3.5,2005-04-02 23:31:16,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
2,1,32,3.5,2005-04-02 23:33:39,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
3,1,47,3.5,2005-04-02 23:32:07,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,3.5,2005-04-02 23:29:40,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [5]:
df_filtered = df.groupby("movieId").agg({"rating":"count"})
df_filtered.head()

         rating
movieId
1         49695
2         22243
3         12735
4          2756
5         12161

In [6]:
type(df_filtered)

pandas.core.frame.DataFrame

In [7]:
df_filtered = df_filtered[df_filtered["rating"] > 1000]
df_filtered.sort_values(by = "rating",ascending=True)

         rating
movieId
84392      1001
56715      1001
2166       1003
5853       1003
2514       1003
...         ...
480       59715
593       63299
318       63366
356       66172
296       67310

[3159 rows x 1 columns]

In [8]:
df_filtered = df[df["movieId"].isin(df_filtered.index.to_list())]
df_filtered.head()

,userId,movieId,rating,timestamp,title,genres
0,1,2,3.5,2005-04-02 23:53:47,Jumanji (1995),Adventure|Children|Fantasy
1,1,29,3.5,2005-04-02 23:31:16,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
2,1,32,3.5,2005-04-02 23:33:39,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
3,1,47,3.5,2005-04-02 23:32:07,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,3.5,2005-04-02 23:29:40,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [9]:
df_filtered.shape

(17765516, 6)

In [10]:
df_pivot = df_filtered.pivot_table(values="rating",index="userId",columns="title")
df_pivot.head()

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zulu (1964),[REC] (2007),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
random_user = df_filtered["userId"].sample(1,random_state=45).values[0]
random_user

3639

In [12]:
random_user_liked_movie = df_filtered.loc[(df_filtered["userId"] == random_user) & (df_filtered["rating"] == 5.0)  ]
random_user_liked_movie

,userId,movieId,rating,timestamp,title,genres
540270,3639,318,5.0,2006-03-27 03:56:35,"Shawshank Redemption, The (1994)",Crime|Drama
540317,3639,1073,5.0,2006-03-27 06:08:06,Willy Wonka & the Chocolate Factory (1971),Children|Comedy|Fantasy|Musical
540322,3639,1127,5.0,2006-06-12 00:59:52,"Abyss, The (1989)",Action|Adventure|Sci-Fi|Thriller
540323,3639,1136,5.0,2006-03-27 06:09:42,Monty Python and the Holy Grail (1975),Adventure|Comedy|Fantasy
540326,3639,1196,5.0,2006-03-27 03:51:54,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi
540327,3639,1197,5.0,2006-03-27 03:56:49,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance
540331,3639,1214,5.0,2006-03-27 06:09:45,Alien (1979),Horror|Sci-Fi
540341,3639,1265,5.0,2006-03-27 06:08:53,Groundhog Day (1993),Comedy|Fantasy|Romance
540345,3639,1307,5.0,2006-03-27 03:33:23,When Harry Met Sally... (1989),Comedy|Romance
540355,3639,1394,5.0,2006-04-03 04:52:38,Raising Arizona (1987),Comedy
540380,3639,1968,5.0,2006-03-27 06:11:12,"Breakfast Club, The (1985)",Comedy|Drama
540390,3639,2150,5.0,2006-04-06 04:40:12,"Gods Must Be Crazy, The (1980)",Adventure|Comedy
540397,3639,2324,5.0,2006-06-12 01:01:49,Life Is Beautiful (La Vita è bella) (1997),Comedy|Drama|Romance|War
540407,3639,2502,5.0,2006-07-29 21:48:32,Office Space (1999),Comedy|Crime
540409,3639,2571,5.0,2006-03-27 03:57:51,"Matrix, The (1999)",Action|Sci-Fi|Thriller
540415,3639,2686,5.0,2006-04-06 04:40:05,"Red Violin, The (Violon rouge, Le) (1998)",Drama|Mystery
540432,3639,2918,5.0,2006-03-27 03:57:32,Ferris Bueller's Day Off (1986),Comedy
540445,3639,3275,5.0,2006-06-12 01:00:26,"Boondock Saints, The (2000)",Action|Crime|Drama|Thriller
540454,3639,3510,5.0,2006-06-01 01:39:42,Frequency (2000),Drama|Thriller
540504,3639,5303,5.0,2006-03-27 03:44:17,Joe Versus the Volcano (1990),Comedy|Romance
540506,3639,5349,5.0,2006-04-03 04:50:59,Spider-Man (2002),Action|Adventure|Sci-Fi|Thriller
540540,3639,7147,5.0,2006-04-03 04:54:45,Big Fish (2003),Drama|Fantasy|Romance
540553,3639,8874,5.0,2006-03-27 03:38:04,Shaun of the Dead (2004),Comedy|Horror
540573,3639,46530,5.0,2006-07-29 21:47:16,Superman Returns (2006),Action|Adventure|Sci-Fi|IMAX

In [13]:
random_user_liked_movie["timestamp"] =pd.to_datetime( random_user_liked_movie["timestamp"])

/tmp/ipykernel_20/1408052309.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  random_user_liked_movie["timestamp"] =pd.to_datetime( random_user_liked_movie["timestamp"])

In [14]:
random_user_liked_movie["timestamp"]

540270   2006-03-27 03:56:35
540317   2006-03-27 06:08:06
540322   2006-06-12 00:59:52
540323   2006-03-27 06:09:42
540326   2006-03-27 03:51:54
540327   2006-03-27 03:56:49
540331   2006-03-27 06:09:45
540341   2006-03-27 06:08:53
540345   2006-03-27 03:33:23
540355   2006-04-03 04:52:38
540380   2006-03-27 06:11:12
540390   2006-04-06 04:40:12
540397   2006-06-12 01:01:49
540407   2006-07-29 21:48:32
540409   2006-03-27 03:57:51
540415   2006-04-06 04:40:05
540432   2006-03-27 03:57:32
540445   2006-06-12 01:00:26
540454   2006-06-01 01:39:42
540504   2006-03-27 03:44:17
540506   2006-04-03 04:50:59
540540   2006-04-03 04:54:45
540553   2006-03-27 03:38:04
540573   2006-07-29 21:47:16
Name: timestamp, dtype: datetime64[ns]

In [15]:
random_user_liked_movie.sort_values(by="timestamp",ascending=False)

,userId,movieId,rating,timestamp,title,genres
540407,3639,2502,5.0,2006-07-29 21:48:32,Office Space (1999),Comedy|Crime
540573,3639,46530,5.0,2006-07-29 21:47:16,Superman Returns (2006),Action|Adventure|Sci-Fi|IMAX
540397,3639,2324,5.0,2006-06-12 01:01:49,Life Is Beautiful (La Vita è bella) (1997),Comedy|Drama|Romance|War
540445,3639,3275,5.0,2006-06-12 01:00:26,"Boondock Saints, The (2000)",Action|Crime|Drama|Thriller
540322,3639,1127,5.0,2006-06-12 00:59:52,"Abyss, The (1989)",Action|Adventure|Sci-Fi|Thriller
540454,3639,3510,5.0,2006-06-01 01:39:42,Frequency (2000),Drama|Thriller
540390,3639,2150,5.0,2006-04-06 04:40:12,"Gods Must Be Crazy, The (1980)",Adventure|Comedy
540415,3639,2686,5.0,2006-04-06 04:40:05,"Red Violin, The (Violon rouge, Le) (1998)",Drama|Mystery
540540,3639,7147,5.0,2006-04-03 04:54:45,Big Fish (2003),Drama|Fantasy|Romance
540355,3639,1394,5.0,2006-04-03 04:52:38,Raising Arizona (1987),Comedy
540506,3639,5349,5.0,2006-04-03 04:50:59,Spider-Man (2002),Action|Adventure|Sci-Fi|Thriller
540380,3639,1968,5.0,2006-03-27 06:11:12,"Breakfast Club, The (1985)",Comedy|Drama
540331,3639,1214,5.0,2006-03-27 06:09:45,Alien (1979),Horror|Sci-Fi
540323,3639,1136,5.0,2006-03-27 06:09:42,Monty Python and the Holy Grail (1975),Adventure|Comedy|Fantasy
540341,3639,1265,5.0,2006-03-27 06:08:53,Groundhog Day (1993),Comedy|Fantasy|Romance
540317,3639,1073,5.0,2006-03-27 06:08:06,Willy Wonka & the Chocolate Factory (1971),Children|Comedy|Fantasy|Musical
540409,3639,2571,5.0,2006-03-27 03:57:51,"Matrix, The (1999)",Action|Sci-Fi|Thriller
540432,3639,2918,5.0,2006-03-27 03:57:32,Ferris Bueller's Day Off (1986),Comedy
540327,3639,1197,5.0,2006-03-27 03:56:49,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance
540270,3639,318,5.0,2006-03-27 03:56:35,"Shawshank Redemption, The (1994)",Crime|Drama
540326,3639,1196,5.0,2006-03-27 03:51:54,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi
540504,3639,5303,5.0,2006-03-27 03:44:17,Joe Versus the Volcano (1990),Comedy|Romance
540553,3639,8874,5.0,2006-03-27 03:38:04,Shaun of the Dead (2004),Comedy|Horror
540345,3639,1307,5.0,2006-03-27 03:33:23,When Harry Met Sally... (1989),Comedy|Romance

In [16]:
last_movie = random_user_liked_movie.sort_values(by="timestamp",ascending=False).iloc[0]["title"]
last_movie

'Office Space (1999)'

In [17]:
last_movie_column = df_pivot[last_movie]
last_movie_column

userId
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
          ..
138489   NaN
138490   NaN
138491   NaN
138492   NaN
138493   NaN
Name: Office Space (1999), Length: 138493, dtype: float64

In [18]:
df_pivot.corrwith(last_movie_column).sort_values(ascending=False).head(10)

title
Office Space (1999)                                                                         1.000000
National Lampoon's Senior Trip (1995)                                                       0.396158
Spring, Summer, Fall, Winter... and Spring (Bom yeoreum gaeul gyeoul geurigo bom) (2003)    0.330558
Kagemusha (1980)                                                                            0.322966
Wedding Crashers (2005)                                                                     0.322826
District 13 (Banlieue 13) (2004)                                                            0.321820
Super Troopers (2001)                                                                       0.317468
Old School (2003)                                                                           0.315009
Idiocracy (2006)                                                                            0.314349
Forgetting Sarah Marshall (2008)                                                            0.314273
dtype: float64